.header-row span {
	font-size: 36px;
	line-height: 40px;
	font-family: inherit;
	margin: 10px 0;
	text-rendering: optimizelegibility;
}

.header-row a {
	font-size: 25px;
	vertical-align: 5px;
}

.title-and-user {
	padding: 20px 0;
}

.position-row .icon-remove {
	cursor: pointer;
}

#employeeBox ul, .days ul {
	list-style-type: none;
	margin-left: 0;
}

.days {
	padding-bottom: 5px;
}

#employeeBox li {
	margin-bottom: 5px;
}

#employeeBox .first {
	padding-right: 10px;
	padding-left: 10px;
}

table .icon-plus {
	cursor: pointer;
}

.days li {
	display: inline-block;
	width: 15px;
	text-align: center;
}

.days li input {
	margin-right: 15px;
}

.checkbox input[type="checkbox"] {
	margin-left: 0px;
}

.checkbox {
	padding-left: 50px;
}

.popover-content .position {
	padding-bottom: 5px;
}
.hint {
	font-style: italic;
	color: #ccc;
}
.donate {
	text-align: center;
	border: 1px solid #DDD;
	border-radius: 6px;
	padding-top: 16px;
	margin-top: 8em;
}

.donate form {
	opacity: 0.5;
}

.donate form:hover {
	opacity: 1;
}

i.dim {
	opacity: 0.2;
	cursor: pointer;
}

i.dim:hover {
	opacity: 1;
}

.bootstrap-timepicker.open {
	width: 178px;
	display: block;
	z-index: 2000;
}

.bootstrap-timepicker.open input {
	width: 21px;
	margin-left: 9px;
	margin-top: 8px;
}

table .labels span.label, table .labels i {
	display: inline-block;
	text-align: center;
	float: left;
	clear: both;
	margin-bottom: 3px;
}
.btn-group.copy {
	margin-bottom: 5px;
}

.centered {
	text-align: center;
}
	
table span.label {
	width:92%;
}

.only-print {
	display: none;
}

@media print {
	.donate, .icon-plus, .name-drop, .move-week, .icon-repeat {
		display: none !important;
	}
	
	table td {
		border-right: 1px solid #ccc;
		padding: 0px 2px !important;
	}
	
	table td:nth-child(1) {
		border-left: 1px solid #ccc;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	table {
		border-bottom: 1px solid #ccc;
	}
	table th {
		text-align: center !important;
	}
	table span.label {
		font-size: 1.3em;
		margin: 1px 0px !important;
		padding: 4px;
	}
	.only-print {
		display: block;
	}
}

