.header-row span {
	font-size: 36px;
	line-height: 40px;
	font-family: inherit;
	margin: 10px 0;
	text-rendering: optimizelegibility;
}

.header-row a {
	font-size: 25px;
	vertical-align: 5px;
}

.title-and-user {
	padding: 20px 0;
}

.position-row .icon-remove {
	cursor: pointer;
}

#employeeBox ul {
	list-style-type: none;
	margin-left: 0;
}

#employeeBox li {
	margin-bottom: 5px;
}

#employeeBox .first {
	padding-right: 10px;
	padding-left: 10px;
}