<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config/>
	
	<context:component-scan base-package="se.mrpeachum.scheduler">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager" 
		p:sessionFactory-ref="sessionFactory"/>

	<tx:annotation-driven />

    <bean class="java.net.URI" id="dbUrl">
        <constructor-arg value="${db.hostname}"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="url" value="#{ 'jdbc:mysql://' + @dbUrl.getHost() + @dbUrl.getPath() }"/>
        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
        <property name="password" value="#{ @dbUrl.getUserInfo().split(':')[1] }"/>
        <property name="driverClassName" value="${db.driver}"/>
        <property name="initialSize" value="5"/>
        <property name="minIdle" value="1"/>
        <property name="maxTotal" value="30"/>
    </bean>
	
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="se.mrpeachum.scheduler.entities"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${db.dialect}
                hibernate.show_sql=false
                hibernate.hbm2ddl.auto=${hibernate.hbm2ddl.auto}
                hibernate.connection.release_mode=after_transaction
                hibernate.cache.use_second_level_cache=false
                hibernate.cache.use_query_cache=false
            </value>
        </property>
    </bean>

	<context:property-placeholder location="classpath:scheduler.properties"/>


</beans>